/* 0. GENERAL */

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif, serif;
    width: 1200px;
    margin: 0 auto;  
}

header {
    background-color: aquamarine;
    color: brown;
    padding: 20px;
    text-align: right;
}

nav {
    background-color: red;
}

nav ul {
    padding-left: 0px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    width: 130px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

nav ul li a:hover {
    background-color: aquamarine;
}

#main {
    background-color: blue;
}

article {
    /*    background-color: aqua;*/
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 30px;
}

aside {
    /*    background-color: aqua;*/
    display: inline-block;
    width: 29%;
    vertical-align: top;
    padding: 30px;
}

aside {
    /*    background-color: tomato;*/
}

footer {
    background-color: aquamarine;
    color: brown;
    padding: 20px;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    font-size: 15px;
}

h1 {
    color: red;
    font-size: 30px;
}

h2 {
    color: yellow;
}

p {
    font-size: 12px;
}

/* mouse hover over every link */
a:hover {
    color: white;
    background-color: black;
}

/* visited link */
a:visited {
    color: #00FF00;
}
