/* 0. GENERAL */

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif, serif;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    font-size: 15px;
}

h1 {
    color: red;
    font-size: 30px;
}

h2 {
    color: yellow;
}

p {
    font-size: 12px;
}

/* mouse hover over every link */
a:hover {
    color: white;
    background-color: black;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* 3. STUDENTS */

table.students, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

table.students {
    width: 500px;
}

table.students thead tr th {
    background-color: gray;
}

table.students tbody tr td {
    border-bottom: 3px solid lightblue;

    /*border-bottom-color: #4cf092;
     border-bottom-width: 5px;
     border-bottom-style: dashed;*/
}

table.students tbody tr:last-child {
    color: #fd89d7;
}

table.students tbody tr:nth-child(odd) {
    background-color: lightgray;
}